* {
  background-color: rgb(60, 0, 155);
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

h1 {
  font-size: 3rem;
  padding-top: 2rem;
}

h1,
form {
  margin: auto;
  max-width: 20rem;
}


input,
button {
  margin: 4rem auto;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
}


main {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.movieHeader {
  margin-top: 5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.movieHeader {
  width: 19rem;
  margin-left: 0.5rem;
}



img {
  display: block;
  width: 20rem;
  height: 25rem;
  margin-bottom: -1.25rem;
  border-radius: 10px;
}

.movieFooter {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  font-size: 0.5 rem;
}